@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  font-size: 4.1vw;
}

@theme {
  --animate-pulse-fast: pulse 5s;
  @keyframes pulse {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --text-shadow-centered: -1px 0px 6px #ffffffcc;
}
